@using Microsoft.AspNetCore.Identity
@using ForumUniversitario.Areas.Identity.Data

@inject SignInManager<ForumUniversitarioUser> SignInManager
@inject UserManager<ForumUniversitarioUser> UserManager

<div class="nav-vertical ">
    <ul class="nav flex-column font-color-white bg-gray-general bg-gray-general p-4 rounded mt-4">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a id="manage" class="my-nav-link  font-color-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar">Olá @ViewData["UserName"] !</a>
            </li>
            <li class="nav-item">
                <a class="my-nav-link font-color-white" asp-area="" asp-controller="Community" asp-action="Index">Comunidades</a>
            </li>
            <li class="nav-item">
                <a class="my-nav-link font-color-white " asp-area="" asp-controller="Publication" asp-action="Index">Publicações</a>
            </li>
            <li class="nav-item">
                <a class="my-nav-link font-color-white" asp-area="" asp-controller="Comment" asp-action="Index">Comentários</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline font-color-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="my-nav-link">Sair</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="my-nav-link font-color-white" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
            </li>
            <li class="nav-item">
                <a class="my-nav-link font-color-white" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>
        }
    </ul>
</div>


