@model IEnumerable<ForumUniversitario.Entidades.Community>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mx-auto  flex flex-col justify-center items-center">

    <div class="blue-aura rounded mt-5 p-4 mb-4">
        <div class="container mx-auto flex flex-col items-center">
            <img class="mt-1" src="/Icons/community.svg" alt="">
            <h1 class="text-2xl font-bold text-white mt-2">Comunidades</h1>
        </div>
    </div>

    <div class="text-center mt-4  mb-4 ">
        <a asp-action="Create" class="border-1 community-box text-white font-bold py-2 px-4 rounded">Create New</a>
    </div>

    <div class="grid grid-cols-12 gap-4">

        <div class="col-span-2">
            <!-- Espaço reservado para outras informações -->
        </div>

        <div class="col-span-8">
            <div class="mt-5 grid grid-cols-1 gap-4">
                @foreach (var community in Model)
                {
                    <div class="bg-gray-general p-4 rounded shadow mb-1 relative">
                        <div class="circle-overlay-left"></div> <!-- O círculo que será sobreposto -->
                        <div class="ml-5">

                            <div class="flex items-center justify-between mb-2">
                                <a href="/community/@community.Id">
                                    <p>
                                        <strong>@community.Name</strong>
                                    </p>
                                </a>
                                <p class="text-gray-500">@community.CreatedAt.ToString("dd/MM/yyyy")</p>
                            </div>
                            <p class="community-description mt-2">@community.Description</p>

                        </div>

                    </div>
                }
            </div>
        </div>


        <div class="col-span-2">
            <!-- Espaço para anúncios ou outras informações -->
        </div>
    </div>
</div>

<style>
    .circle-overlay-left {
        position: absolute;
        top: 50%; /* Coloca o círculo no meio vertical da div */
        left: -10px; /* Ajuste conforme necessário para que metade do círculo fique para fora */
        transform: translateY(-50%);
        width: 40px; /* Tamanho do círculo */
        height: 40px;
        background-color: #f0f0f0; /* Cor do círculo */
        border-radius: 50%;
        z-index: 1; /* Certifique-se de que o círculo fique acima do conteúdo */
    }
    
        .bg-gray-general {
            /* Estilos existentes da sua div bg-gray-general */
            /* ... */
            position: relative; /* Adicione essa linha */
        }
    
        .community-description {
            /* Estilos existentes da sua classe community-description */
            /* ... */
            overflow: hidden; /* Garante que o texto excedente fique oculto */
            text-overflow: ellipsis; /* Adiciona reticências (...) para o texto excedente */
            white-space: nowrap; /* Impede que o texto quebre em várias linhas */
        }
</style>