@{
    ViewData["Title"] = "Home Page";
}

<div class="grid grid-cols-12 gap-4"/>
<div class="col-span-2">
    <div class="bg-gray-200 p-4 rounded mt-4">
        <h3 class="text-lg font-bold">Comunidades Populares</h3>
        <ul class="mt-2">
                
        </ul>
    </div>
</div>
<div class="col-span-8">
    <div class="timeline">
        <div class="bg-white p-4 rounded shadow mb-4 mt-4">
            <div class="flex items-center justify-between mb-2">
                <p>
                    <strong>Fórum Universitário</strong>
                </p>
                <p class="text-gray-500">A qualquer momento</p>
            </div>
            <h3 class="text-lg font-bold">O melhor lugar para compartilhar, se divertir </h3>
            <p class="mt-2">E se conectar!</p>
        </div>
    </div>
</div>
<div class="col-span-2">
    <!-- Espaço para anúncios -->
    <div class="bg-yellow-200 p-4 rounded mt-4">
        <h3 class="text-lg font-bold">Anúncios</h3>
        <p class="mt-2">Espaço reservado para futuramente adicionar anúncios.</p>
    </div>
</div>
