@tailwind base;
@tailwind components;
@tailwind utilities;


.font-size-45px{
    font-size: 45px;
}

.font-size-20px{
    font-size: 20px;
}

.font-size-30px{
    font-size: 30px;
}

 .comment-container {
     border-left: 2px solid #ccc;
     padding-left: 10px;
     margin-top: 10px;
     position: relative;
 }

.comment-content {
    padding: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    font-weight: bold;
}

.comment-date {
    color: #888;
}

.comment-text {
    margin-top: 5px;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-orange {
    color: orange;
}

.text-purple {
    color: purple;
}
.form-control-input {
    width: 100%;
    height: 100px;
}

.width-100{
    width: 100%
}

.community-name {
    height: auto; /* Define a altura automática para o campo CommunityName */
}

.height-100px{
    height: 200px;
}
/* Estilo para o campo de texto que aumentará automaticamente */
textarea.autosize {
    overflow: hidden;
    resize: none; /* Impede que o usuário redimensione manualmente */
}

/* Estilo para definir a altura mínima e máxima do campo de texto */
textarea.autosize {
    min-height: 100px; /* Altura mínima inicial */
    max-height: 300px; /* Altura máxima */
}

.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(38, 38, 38/var(--tw-bg-opacity))
}

.font-color-white{
    color: white;
}

.font-color-gray{
    color: gray;
}

.my-nav-link:hover {
    color: white; /* Mantém a mesma cor ao passar o mouse */
    /* Outros estilos que você desejar */
}

.bg-gray-general{
    background-color: rgb(51, 51, 51);
}

.bg-gray-general-lighter{
    background-color: rgb(80, 80, 80);
}

.small-font{
    font-size: small;
}

.roboto-font{
    /*font-family: Roboto, Arial, sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-size: small;
}
.register-button,
.login-button {
    display: inline-block; /* Permite definir largura e altura */
    padding: 10px 20px; /* Ajusta o preenchimento interno */
    background: rgb(80, 80, 80);
    border-radius: 10px;
    color: white; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto horizontalmente */
    text-decoration: none; /* Remove sublinhado padrão */
}

.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
}

.gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
            translate(
                    calc(-10px / 2 * var(--ggs,1)),
                    calc(-6px / 2 * var(--ggs,1))
            )
            rotate(-45deg)
            scale(var(--ggs,1));
    display: block
}

.gg-heart::after,
.gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}

.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}

.create-post-button {
    display: flex;
    padding: 8px;
    border: 2px solid #505050; /* Cor da borda externa */
    border-radius: 6px;
    margin-top: 20px;
}

.button-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #505050; /* Cor da borda interna */
    border-radius: 6px;
    padding: 5px;
}

.button-content {
    font-size: 12px;
    font-weight: lighter;
    color :gray; /* Cor do texto */
    cursor: pointer;
}

.mt-8{
    margin-top: 8rem
}


.container-home {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.left-column-home {
    position: relative;
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.right-column-home {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.square {
    width: 80%;
    height: 48%;
    margin-bottom: 5px;
    border-radius: 10px;
}

.rounded-10px {
    border-radius: 10px;
}

.square-top {
    background: linear-gradient(to bottom right, #009D98FF, #009D56FF);
}

.square-bottom {
    background: linear-gradient(to bottom right, #009f62, #002872FF);
}

.left-column img {
    max-width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    left: 10px; /* Ajuste a posição horizontal conforme necessário */
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    color: white; /* Define a cor do texto */
    font-size: 18px; /* Define o tamanho da fonte */
    z-index: 2; /* Garante que o texto fique acima da imagem */
    padding-left: 20px;
}
.image-text p::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 25px;
    bottom: 0;
    width: 6px; /* Largura da linha vertical */
    height: 110px;
    background-color: #ffffff; /* Cor da linha */
    content: "";
}

.ml-45{
    margin-left: 45%;
}

.ml-40{
    margin-left: 40%;
}

.ml-5{
    margin-left: 5%;
}

.menu-box{
    background: linear-gradient(to bottom right, #009D98FF, #009D56FF);
}

.gradient-verde{
    background: linear-gradient(to bottom right, #009D98FF, #009D56FF);
}

.fonte-teste{
    font-family: "Book Antiqua", serif;
}

.bottom-rounded {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse as bordas arredondadas */
}




/* Gradiente de borda para a div "Comunidades" */
.blue-aura {
    box-shadow: 0 0 45px rgba(52, 144, 220); /* Defina as propriedades do efeito */
    border-radius: 50px; /* Ajuste o raio da borda */
}

.green-aura {
    box-shadow: 0 0 45px rgb(52, 220, 105); /* Defina as propriedades do efeito */
    border-radius: 50px; /* Ajuste o raio da borda */
}

.gray-border{
    border-bottom: 2px solid #505050;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 2px; /* Ajuste o valor conforme necessário */
    width: 400px; /* Ajuste o valor conforme necessário */
    border: white;
    border-radius: 4px;
    background-color: rgb(80, 80, 80);
}

.search-box input[type="text"]:focus {
    outline: none;
}

.search-box button {    
    border: none;
    border-radius: 4px;
    padding: 4px 8px; /* Ajuste o valor conforme necessário */
    cursor: pointer;
}

@media (max-width: 1280px) {
    .col-md-2 {
        width: 100%; /* Tornar a coluna ocupar 100% da largura */
        margin-right: 0; /* Remover margem direita */
    }
    .col-md-2.d-none.d-md-block {
        display: block; /* Exibir a coluna que estava oculta */
        width: 100%; /* Tornar a coluna ocupar 100% da largura */
        margin-right: 0; /* Remover margem direita */
    }
    .col-md-8 {
        width: 100%; /* Tornar a segunda coluna ocupar 100% da largura */
    }
    .modal-dialog {
        max-width: 90%; /* Reduza a largura da modal para telas menores */
    }

    .modal-body {
        padding: 20px; /* Ajuste o espaçamento interno para telas menores */
    }

}

#communityInputContainer {
    position: relative;
}

.gradient-verde {
    background: linear-gradient(to bottom right, #009D98FF, #009D56FF);
    color: white; /* Define a cor do texto como branco para melhor legibilidade */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.gradient-verde:hover {
    background: linear-gradient(to bottom right, #009D56FF, #009D98FF);
}
/* Estilize o campo de preenchimento */
#communityInput {
    position: relative;
}

/* Estilize a lista de sugestões */
.suggestions-list {
    border: 1px solid rgb(51, 51, 51);
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgb(77,77,77);;
    width: calc(100% - 2px); /* Reduz a largura para compensar a borda */
    z-index: 1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    top: 100%; /* Posicione abaixo do campo de preenchimentoContainer */
    left: 0;
    width: 100%; /* Largura igual à do campo de preenchimentoContainer */
}

/* Estilize os itens da lista de sugestões */
.suggestions-list li {
    padding: 5px 10px;
    cursor: pointer;
}

/* Posicione a lista de sugestões abaixo do campo de preenchimento */
#communitySuggestions {
    display: none;
    top: calc(100% + 2px); /* Posicione abaixo do campo de preenchimento */
    left: 0;
}

.form-control {
    background-color:  rgb(80, 80, 80); /* Define a cor de fundo desejada */
    color: white; /* Define a cor do texto para branco */
    /* Outros estilos de form-control */
}

.form-control:focus {
    background-color:  rgb(80, 80, 80); /* Mantém a mesma cor de fundo para o estado de foco */
    color: white; /* Mantém a cor do texto para branco no estado de foco */
    /* Outros estilos para o estado de foco */
}

.height-10em{
    height: 10em;
}

.height-5em {
    height: 5em;
}
.w-100{
width: 25%;    
}

.no-margin{
    margin: 0;
}

/* Estilo padrão do link */
.remove-link-styles a {
    color: inherit; /* Mantém a cor de texto herdada do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estilo do link ao passar o mouse */
.remove-link-styles a:hover {
    text-decoration: none; /* Mantém o sublinhado removido ao passar o mouse */
    color: inherit; /* Mantém a cor de texto herdada ao passar o mouse */
}

.comment-box {
    display: none;
}

/*textarea:focus, input:focus {*/
/*    outline: white; !important;*/
/*}*/
