@tailwind base;
@tailwind components;
@tailwind utilities;


.font-size-45px{
    font-size: 45px;
}

.font-size-20px{
    font-size: 20px;
}

.font-size-30px{
    font-size: 30px;
}

 .comment-container {
     border-left: 2px solid #ccc;
     padding-left: 10px;
     margin-top: 10px;
     position: relative;
 }

.comment-content {
    padding: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    font-weight: bold;
}

.comment-date {
    color: #888;
}

.comment-text {
    margin-top: 5px;
}

.gg-comment {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 12px;
    border: 2px solid;
    border-bottom: 0;
    box-shadow:
            -6px 8px 0 -6px,
            6px 8px 0 -6px
}

.gg-comment::after,
.gg-comment::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px
}

.gg-comment::before {
    border: 2px solid;
    border-top-color: transparent;
    border-bottom-left-radius: 20px;
    right: 4px;
    bottom: -6px;
    height: 6px
}

.gg-comment::after {
    height: 2px;
    background: currentColor;
    box-shadow: 0 4px 0 0;
    left: 4px;
    top: 4px
}
.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-orange {
    color: orange;
}

.text-purple {
    color: purple;
}
.form-control-input {
    width: 100%;
    height: 100px;
}

.width-100{
    width: 100%
}

.community-name {
    height: auto; /* Define a altura automática para o campo CommunityName */
}

.height-100px{
    height: 200px;
}
/* Estilo para o campo de texto que aumentará automaticamente */
textarea.autosize {
    overflow: hidden;
    resize: none; /* Impede que o usuário redimensione manualmente */
}

/* Estilo para definir a altura mínima e máxima do campo de texto */
textarea.autosize {
    min-height: 100px; /* Altura mínima inicial */
    max-height: 300px; /* Altura máxima */
}

.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(38, 38, 38/var(--tw-bg-opacity))
}

.font-color-white{
    color: white;
}

.font-color-gray{
    color: gray;
}

.my-nav-link:hover {
    color: white; /* Mantém a mesma cor ao passar o mouse */
    /* Outros estilos que você desejar */
}

.bg-gray-general{
    background-color: rgb(51, 51, 51);
}

.bg-gray-general-lighter{
    background-color: rgb(80, 80, 80);
}

.small-font{
    font-size: small;
}

.roboto-font{
    font-family: Roboto, Arial, sans-serif;
}
.register-button,
.login-button {
    display: inline-block; /* Permite definir largura e altura */
    padding: 10px 20px; /* Ajusta o preenchimento interno */
    background: rgb(80, 80, 80);
    border-radius: 10px;
    color: white; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto horizontalmente */
    text-decoration: none; /* Remove sublinhado padrão */
}

.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
}

.gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
            translate(
                    calc(-10px / 2 * var(--ggs,1)),
                    calc(-6px / 2 * var(--ggs,1))
            )
            rotate(-45deg)
            scale(var(--ggs,1));
    display: block
}

.gg-heart::after,
.gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}

.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}

.create-post-button {
    display: flex;
    padding: 8px;
    border: 2px solid #505050; /* Cor da borda externa */
    border-radius: 6px;
    margin-top: 20px;
}

.button-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #505050; /* Cor da borda interna */
    border-radius: 6px;
    padding: 5px;
}

.button-content {
    font-size: 12px;
    font-weight: lighter;
    color :gray; /* Cor do texto */
    cursor: pointer;
}

.mt-8{
    margin-top: 8rem
}




.container-home {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.left-column-home {
    position: relative;
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.right-column-home {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.square {
    width: 80%;
    height: 48%;
    margin-bottom: 5px;
    border-radius: 10px;
}

.rounded-10px {
    border-radius: 10px;
}

.square-top {
    background: linear-gradient(to bottom right, #009D98FF, #009D56FF);
}

.square-bottom {
    background: linear-gradient(to bottom right, #009f62, #002872FF);
}

.left-column img {
    max-width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    left: 10px; /* Ajuste a posição horizontal conforme necessário */
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    color: white; /* Define a cor do texto */
    font-size: 18px; /* Define o tamanho da fonte */
    z-index: 2; /* Garante que o texto fique acima da imagem */
    padding-left: 20px;
}
.image-text p::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 25px;
    bottom: 0;
    width: 6px; /* Largura da linha vertical */
    height: 110px;
    background-color: #ffffff; /* Cor da linha */
    content: "";
}